/* General body styling */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header styling */
header {
    background-color: #76449a;
    color: #fff;
    padding: 1.5rem;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    font-family: 'Saira Extra Condensed', serif;
    text-transform: uppercase;
}

.subtitle {
    font-size: 1.2rem;
    font-weight: 300;
}

/* Main content styling */
main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section.blog-post {
    margin-bottom: 2rem;
}

section.blog-post h2 {
    font-size: 1.8rem;
    color: #76449a;
    margin-bottom: 0.5rem;
}

section.blog-post p {
    margin-bottom: 1rem;
}

section.blog-post strong {
    color: #333;
}


.styled-back-button {
    background-color: #76449a;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.styled-back-button:hover {
    background-color: #5e337a;
}

pre code {
    display: block;
    padding: 10px;
    margin: 0 0 1em;
    font-size: 14px;
    line-height: 1.5;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #282c34; 
    color: #abb2bf;
    border-radius: 5px;
    overflow-x: auto;
}

/* Syntax highlighting */
code .keyword {
    color: #c678dd; 
}
code .function {
    color: #61afef;
}
code .string {
    color: #98c379; /
}
code .comment {
    color: #5c6370;
    font-style: italic;
}
code .number {
    color: #d19a66; 
}
code .operator {
    color: #56b6c2;
}